name: yo_button_pkg
description: A new Flutter package with a customized TextButton.
version: 0.0.1
homepage: https://github.com/yogithesymbian/yo_button_pkg.git

environment:
  sdk: ">=2.17.6 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
